body {
    padding:10px;
    background: url('../images/bckg.jpg');
}

/* ----------------------------------------- */

.wrapper {
    margin: 0px auto;
    text-align: center;
}

.wrapper-welcome {
    width: 720px;
}

/* ----------------------------------------- */

.float-left {
   float: left;
}

.float-right {
   float: right;
}

.info {
    font-size: 10px;
}

.success-icon {
    vertical-align: text-bottom;
}

/* ----------------------------------------- */

.menu-left {
    width:200px;
    text-align: left;
    word-wrap:break-word;
}

.menu-right {
    width:200px;
    text-align: right;
    word-wrap:break-word;
}

.loading img {
    width: 80px;
}

.pdf-preview {
    padding-top: 40px;
    padding-left: 210px;
    padding-right: 210px;
    text-align: center;
}

.img-wrapper {
    margin:20px;
    display:none;
}

.img-wrapper-background {
    position: relative;
    margin: 0px auto;
    box-shadow: 0px 0px 20px #CCC;
}

.img-top {
    position: absolute;
    margin-top: -15px;
    height: 10px;
    background-image: url('/app/assets/images/ruler-top.png');
}
.img-left {
    position: absolute;
    margin-left: -15px;
    width: 10px;
    background-image: url('/app/assets/images/ruler-left.png');
}

/* ----------------------------------------- */

.csv-data {
    margin: 0px auto;
}

.csv-data th {
    text-align: center;
}



.qr-code {

}

/* -------- */

.ui-state-highlight {
    box-shadow: 0px 0px 20px #1468A0;
}

.ui-state-hover {
    box-shadow: 0px 0px 20px #1468A0;
}

.ui-state-active {
    box-shadow: 0px 0px 20px green;
}

.ui-selecting { outline: 1px solid green; }
.ui-selected { outline: 1px solid #1468A0; }
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
} 