body {
    padding:10px;
    background: url('../images/bckg.jpg');
}

/* ----------------------------------------- */

.wrapper {
    margin: 0px auto;
    text-align: center;
}

.wrapper-welcome {
    width: 720px;
}

/* ----------------------------------------- */

.float-left {
   float: left;
}

.float-right {
   float: right;
}

.info {
    font-size: 10px;
}

.success-icon {
    vertical-align: text-bottom;
}

/* ----------------------------------------- */

.menu-left {
    width:200px;
    text-align: left;
}

.menu-right {
    width:200px;
    text-align: right;
    word-wrap:break-word;
}

.pdf-preview {
    display:none;
    padding-top: 40px;
    padding-left: 210px;
    padding-right: 210px;
    text-align: center;
}

.img-wrapper-background {
    margin: 0px auto;
    box-shadow: 0px 0px 20px #CCC;
}

.img-top {
    position: absolute;
    margin-top: -15px;
    height: 10px;
    background-color: #FFF;
    background-image: url('/app/assets/images/ruler-top.png');
}
.img-left {
    position: absolute;
    margin-left: -15px;
    width: 10px;
    background-color: #FFF;
    background-image: url('/app/assets/images/ruler-left.png');
}

/* ----------------------------------------- */

.csv-data {
    margin: 0px auto;
}